.font-inter{
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
}
*{
    max-width: 1600px;
    margin:0 auto;
    background: rgba(251, 251, 251, 1);
}

header{
    background-color:  rgba(255, 255, 255, 1);;
    justify-content: center;
    align-items: center;
    gap: 40;
    padding: 20px 50px 10px 50px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px 16px 12px;
}

.logo{
    width: 150px;
    height: 90px;
}
.menu{
    list-style: none;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 32;
    width: 365px;
    color: #000000;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
    


}

.button{
    border-radius: 4px;
    background-color: rgba(70, 145, 101, 1);
    color:rgba(255, 255, 255, 1);
    padding: 12px 16px 12px 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;

    

}
button:hover{
    background: red;
}
#hero{
    justify-content: center;
    align-items: center;

}
.hero img{
  margin-top: 30px;
  margin-bottom: 50px;
  background-size: cover;
}
.hero-container{
    text-align: center;

    
}

.notes-container h1{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 10px;
}
.notes-container p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;
}

