.font-inter{
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
}
body{
    max-width: 1600px;
    margin:0 auto;
    background: rgba(251, 251, 251, 1);
}

header{
    background-color:  rgba(255, 255, 255, 1);;
    justify-content: center;
    align-items: center;
    gap: 40;
    padding: 20px 50px 10px 50px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px 16px 12px;
}

.logo{
    width: 150px;
    height: 90px;
}
.menu{
    list-style: none;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 32;
    width: 365px;
    color: #000000;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
    


}

.button{
    border-radius: 4px;
    background-color: rgba(70, 145, 101, 1);
    color:rgba(255, 255, 255, 1);
    padding: 12px 16px 12px 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
 nav button:hover{
    background: red;
}
#hero{
    width: 1600px;
    height: 674px;
    background-image: url(../assets/hero-bg.png), linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    flex-direction: column;
    justify-content: center;
     align-items: center;
      background-size: cover;
  background-position: center;
  

  



}
#hero .hero-container{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  max-width: 1360px;
  height: 379px;
    
}
#hero .hero-container h2{
    flex-direction: row;
    gap: 6;
   padding: 8px 12px 8px 12px;
   justify-content: center;
   align-items: center;
   border-radius: 1000px;
   background: rgba(255, 255, 255, 1);
   color:#30B868;

font-size: 16px;
font-weight: 500;

width: 229px;
height: 35px;
}
#hero .hero-container .structure{
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;
    background: none;
color: rgba(255, 255, 255, 1);

}
#hero .hero-container .notes{
     font-size: 72px;
     font-weight: 700;
      text-transform: capitalize;
      background: none;
       color: rgba(48, 184, 104, 1);
}

#hero .hero-container p{
    font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: center;
flex-direction: column;
background: none;
color: rgba(255, 255, 255, 1);
}
 #hero .hero-container .button-1{
    border-radius: 4px;
    background: 
#30B868;
color: rgba(255, 255, 255, 1);
gap: 10;
padding: 12px 16px 12px 16px;
cursor: pointer;
}
#hero .hero-container .button-2{
 box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 1);   
border-radius: 4px;
    font-size: 16px;
font-weight: 600;
gap: 10;
padding: 12px 16px 12px 16px;
cursor: pointer;
background: none;
color: rgba(255, 255, 255, 1);

}
#hero button:hover{
    background:green;
}
.button-2 i{
    color: rgba(0, 0, 0, 0.301);
    background: none;
}
.notes .notes-text{
    justify-content: center;
    text-align: center;
}
.notes-text h1{
    font-size: 48px;
font-weight: 700;
color: rgba(0, 25, 49, 1);
margin-top: 30px;
margin-bottom: 10px;
text-transform: capitalize;

}
.notes-text p{
    font-size: 16px;
font-weight: 400;
line-height: 20px;
color: rgba(98, 115, 130, 1);
margin-bottom: 30px;
}
.note-card{
    text-align: center;
    width: 322px;
    height: 280px;
}
.card-container{
    display: flex;
    justify-content: space-between;
    gap: 130px;
    align-items: center;
    background: rgba(255, 255, 255, 1);
   box-shadow: 0px 0px 8px 0px rgba(0, 0, 0,  0.06);
    border-radius: 10px;
    gap: 16;
    padding: 20px;
    
   

    

}
.note-card img{
    background: rgba(249, 85, 85, 1);
    color: rgba(255, 255, 255, 1);
    width: 32px;
height: 32px;
border-radius: 60px 60px;
padding: 14px 13px 14px 14px;
margin-bottom: 16px;
margin-top: 16px;
}
.note-card h1{
    color: rgba(0, 25, 49, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.note-card p{
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
width: 274px;
height: 40px;
}
.card-container .card-1{
       background: rgba(255, 255, 255, 1);
   box-shadow: 0px 0px 8px 0px rgba(0, 0, 0,  0.06);
    border-radius: 10px;
     gap: 16;
    padding: 20px;
}
.card-container .card-2{
      background: rgba(255, 255, 255, 1);
   box-shadow: 0px 0px 8px 0px rgba(0, 0, 0,  0.06);
    border-radius: 10px;
     gap: 16;
    padding: 20px;
}
.card-container .card-3{
      background: rgba(255, 255, 255, 1);
   box-shadow: 0px 0px 8px 0px rgba(0, 0, 0,  0.06);
    border-radius: 10px;
     gap: 16;
    padding: 20px;

}




