.font-inter{
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
}
*{
    max-width: 1600px;
    margin:0 auto;
    background: rgba(251, 251, 251, 1);
}

header{
    background-color:  rgba(255, 255, 255, 1);;
    justify-content: center;
    align-items: center;
    gap: 40;
    padding: 20px 50px 10px 50px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px 16px 12px;
}

.logo{
    width: 150px;
    height: 90px;
}
.menu{
    list-style: none;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 32;
    width: 365px;
    color: #000000;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
    


}

.button{
    border-radius: 4px;
    background-color: rgba(70, 145, 101, 1);
    color:rgba(255, 255, 255, 1);
    padding: 12px 16px 12px 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
 nav button:hover{
    background: red;
}
#hero{
    width: 1600px;
    height: 674px;
    background-image: url(../assets/hero-bg.png);
    flex-direction: column;
    justify-content: center;
     align-items: center;
      background-size: cover;
  background-position: center;
  



}
.hero-container{
    text-align: center;
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
}
#hero .hero-container h2{
    flex-direction: row;
    gap: 6;
padding: 5px 8px 8px 10px;
border: 1px solid white;
border-radius: 100px;
background: rgba(255, 255, 255, 1);
color:#30B868;

font-size: 16px;
font-weight: 500;
line-height: 19px;
}
#hero .hero-container h1{
    font-size: 72px;
font-weight: 700;
text-transform: capitalize;
}
#hero .hero-container p{
    font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: center;
flex-direction: column;
}
 #hero .hero-container .button-1{
    border-radius: 4px;
    background: 
#30B868;
color: rgba(255, 255, 255, 1);
gap: 10;
padding: 12px 16px 12px 16px;
}
#hero .hero-container .button-2{
    
border-radius: 4px;
    font-size: 16px;
font-weight: 600;
gap: 10;
padding: 12px 16px 12px 16px;

}

